{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height:80vh">
        <div class="col-md-6 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h2 class="card-title text-center mb-4">Sign In</h2>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="mb-3">
                            {{ form.username|add_class:"form-control" }}
                            {{ form.username.errors }}
                        </div>
                        <div class="mb-3">
                            {{ form.password|add_class:"form-control" }}
                            {{ form.password.errors }}
                        </div>
                        <div class="d-grid mt-4 text-center">
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>
                        </div>
                    </form>
                    <p class="text-center mt-3">
                        Don’t have an account?
                        <a href="{% url 'users:register' %}">Register here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
